<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form method="post" action="/chats"> 
            <input type="text" name="from" placeholder="From"><br><br>
            <textarea name="message">Write your message here</textarea><br><br>
            <input type="text" name="to" placeholder="To"><br><br>
            <button>Send Chat</button>
    </form>
</body>
</html>