.Product{
    border: 1px solid whitesmoke;
    width: 250px;
    height: 140px;
    border-radius: 10px;
    margin-right: 15px;
}

.productCard{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    
}
h1{
    color: rgb(61, 61, 145);
    font-family: sans-serif;
}
.oldpriceStyle{
    text-decoration: line-through;
}
.priceStyle{
    background-color: rgb(113, 113, 42);
}