<footer>
    <div class="f-info">
        <div class="fsocials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="company">&copy; AirBnb Private Limited</div>
        <div class="f-infolinks">
            <a href="/privacy" id="one">Privacy</a><br>
            <a href="/terms" id="two">Terms and Conditions</a>
        </div>
    </div>
</footer>