<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS file</title>
</head>
<body>
    <h2>This is the EJS file</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Accusantium repellendus quos repudiandae aperiam obcaecati modi et earum inventore pariatur, error nam
    ipsa consectetur quis saepe deleniti officia nostrum accusamus odio.</p>

    <!-- use of Interpolation syntax -->
     <h3>value is <%= 1 * 5 %></h3>
</body>
</html>