<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h2>Dice gave value <%= num1 %></h2>
    <!-- To include conditional statements -->
     <% if (num1 == 6) { %>
        <h2>Nice! Roll the dice again.</h2>
      <% } %>
</body>
</html>