<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Use of new Operation</title>
</head>
<body>
    <form method="post" action="/posts">
       <input placeholder="Enter your name" name="username"><br><br>
       <textarea placeholder="Enter your post" name="content"></textarea><br><br>
       <button>Submit</button>
    </form>
</body>
</html>