.container1{
    margin-top: 0.1rem;
    margin-bottom: 1rem;

}

h2{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}